<div class="container">
  <p class="h4 text-center mb-2">User Regstration</p>

  <div *ngIf="errorMsg" class="alert alert-danger" style="margin-left: 10px">
    {{ errorMsg }}
  </div>
  <div *ngIf="successMsg" class="alert alert-success" style="margin-left: 10px">
    {{ successMsg }}
  </div>
  <form #registrationForm="ngForm" (submit)="registrationForm.form.valid && doRegister(registration)">
    <div *ngIf="registration" class="form-group">
      <div class="input-group form-field-group">
        <span class="input-group-addon field-label">User ID</span>
        <input type="text" [(ngModel)]="registration.userId" name="userId" #userId (change)="checkIfUserIdAvailable(registration.userId)" 
          class="form-control field-text" required minlength="6" maxlength="10" />
        <div *ngIf="isValidUserId">
          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
      </div>
      <div class="input-group form-field-group">
        <span class="input-group-addon field-label">Password</span>
        <input type="password" [(ngModel)]="registration.password" name="password" #password
          class="form-control field-text" required minlength="6" maxlength="10" />
      </div>
      <div class="input-group form-field-group">
        <span class="input-group-addon field-label">Email Address</span>
        <input type="email" [(ngModel)]="registration.email" name="email" #email
          class="form-control field-text" required />
      </div>
      <div class="input-group form-field-group">
        <span class="input-group-addon field-label">User Name</span>
        <input type="text" [(ngModel)]="registration.userName" name="userName" #userName
          class="form-control field-text" />
      </div>
      <div class="input-group form-field-group">
        <span class="input-group-addon field-label">City</span>
        <input type="text" [(ngModel)]="registration.city" name="city" #city
          class="form-control field-text" />
      </div>
      <div class="input-group form-field-group">
        <span class="input-group-addon field-label">Date of Birth</span>
        <input type="date" [(ngModel)]="registration.birthdate" name="birthdate" #birthdate
          class="field-text"/>
      </div>
      <div class="input-group form-field-group">
        <span class="input-group-addon field-label">Secret Question</span>
        <select [(ngModel)]="registration.secretQuestion" name="secretQuestion" #secretQuestion required>
          <option *ngFor="let question of secretQuestions" [value]="question">
            {{ question }}
          </option>
        </select>
      </div>
      <div class="input-group form-field-group">
        <span class="input-group-addon field-label">Secret Answer</span>
        <input type="text" [(ngModel)]="registration.secretAnswer" name="secretAnswer" #secretAnswer
          class="form-control field-text" required />
      </div>
      <div class="form-field-group" align="center">
        <!--<button (click)="doRegister(registration)" class="btn">Register</button>-->
        <button type="submit" [disabled]="!registrationForm.form.valid" class="btn btn-success">Register</button>
      </div>
      <div class="bottom-router-link">
        Proceed to User login <a routerLink="/login" routerLinkActive="active">here</a>
      </div>
    </div>
  </form>
</div>