<div class="container">
  <p class="h4 text-center mb-2">User Regstration</p>

  <div *ngIf="errorMsg" class="alert alert-danger" style="margin-left: 10px">
    {{ errorMsg }}
  </div>
  <div *ngIf="successMsg" class="alert alert-success" style="margin-left: 10px">
    {{ successMsg }}
  </div>
  <div *ngIf="registration" class="form-group">
    <div class="input-group" style="margin: 5px">
      <span class="input-group-addon form-label">User ID</span>
      <input type="text" class="form-control" style="height: 30px" [(ngModel)]="registration.userId" 
        (change)="checkIfUserIdAvailable(registration.userId)" />
      <div *ngIf="isValidUserId">
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
    </div>
    <div class="input-group" style="margin: 5px">
      <span class="input-group-addon form-label">Password</span>
      <input type="password" class="form-control" style="height: 30px" [(ngModel)]="registration.password" />
    </div>
    <div class="input-group" style="margin: 5px">
      <span class="input-group-addon form-label">User Name</span>
      <input type="text" class="form-control" style="height: 30px" [(ngModel)]="registration.userName" />
    </div>
    <div class="input-group" style="margin: 5px">
      <span class="input-group-addon form-label">Email Address</span>
      <input type="email" class="form-control" style="height: 30px" [(ngModel)]="registration.email" />
    </div>
    <div class="input-group" style="margin: 5px">
      <span class="input-group-addon form-label">City</span>
      <input type="text" class="form-control" style="height: 30px" [(ngModel)]="registration.city" />
    </div>
    <div class="input-group" style="margin: 5px">
      <span class="input-group-addon form-label">Date of Birth</span>
      <input type="date" style="height: 30px" [(ngModel)]="registration.birthdate" />
    </div>
    <div class="input-group" style="margin: 5px">
      <span class="input-group-addon form-label">Secret Question</span>
      <select class="form-control" style="height: 30px" [(ngModel)]="registration.secretQuestion">
        <option *ngFor="let question of secretQuestions" [value]="question">
          {{ question }}
        </option>
      </select>
    </div>
    <div class="input-group" style="margin: 5px">
      <span class="input-group-addon form-label">Secret Answer</span>
      <input type="text" class="form-control" style="height: 30px" [(ngModel)]="registration.secretAnswer" />
    </div>
    <div style="margin: 5px" align="center">
      <button (click)="doRegister(registration)" class="btn">Register</button>
    </div>
    <div style="margin: 2px; text-align: center">
      Proceed to User login <a routerLink="/login" routerLinkActive="active">here</a>
    </div>
  </div>
</div>