<div class="container">
  <h1>User Regstration</h1>
  <div *ngIf="errorMsg">
    <label class="alert alert-danger">{{errorMsg}}</label>
  </div>
  <div *ngIf="successMsg">
    <label class="alert alert-success">{{successMsg}}</label>
  </div>
  <div *ngIf="registration">
    <div class="form-group">
      <table aliign="center">
        <tr>
          <td item-width="45%">User Id</td>
          <td item-width="5%">&nbsp;</td>
          <td item-width="50%">
            <input type="text" class="form-control" [(ngModel)]="registration.userId" />
          </td>
        </tr>
        <tr>
          <td item-width="45%">Password</td>
          <td item-width="5%">&nbsp;</td>
          <td item-width="50%">
            <input type="password" class="form-control" required [(ngModel)]="registration.password" />
          </td>
        </tr>
        <tr>
          <td item-width="45%">User Name</td>
          <td item-width="5%">&nbsp;</td>
          <td item-width="50%">
            <input type="text" class="form-control" required class="form-control" required [(ngModel)]="registration.userName"/>
          </td>
        </tr>
        <tr>
          <td item-width="45%">Email</td>
          <td item-width="5%">&nbsp;</td>
          <td item-width="50%">
            <input type="text" class="form-control" required [(ngModel)]="registration.email"/>
          </td>
        </tr>
        <tr>
          <td item-width="45%">City</td>
          <td item-width="5%">&nbsp;</td>
          <td item-width="50%">
            <input type="text" class="form-control" required [(ngModel)]="registration.city"
              />
          </td>
        </tr>
        <tr>
          <td item-width="45%">Date Of Birth</td>
          <td item-width="5%">&nbsp;</td>
          <td item-width="50%">
            <input type="date" class="form-control" [(ngModel)]="registration.birthdate" />
          </td>
        </tr>
        <tr>
          <td item-width="45%">Secret Question</td>
          <td item-width="5%">&nbsp;</td>
          <td item-width="50%">
            <select required class="form-control" [(ngModel)]="registration.secretQuestion">
                <option *ngFor="let question of secretQuestions" [value]="question">
                  {{ question }}
                </option>
            </select>
          </td>
        </tr>
        <tr>
          <td item-width="45%">Secret Answer</td>
          <td item-width="5%">&nbsp;</td>
          <td item-width="50%">
            <input type="text" class="form-control" required [(ngModel)]="registration.secretAnswer" /> 
          </td>
        </tr>
        <tr>
          <td item-width="100%" colspan="2" align="center">
            <button (click)="onRegister(registration)" class="btn btn-success">Register</button>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td item-width="100%">Proceed to User login 
            <a routerLink="/login" routerLinkActive="active"> here</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>